.board {
  height: 100vh;
  // max-width: 1400px;
  margin: 0 auto;
  z-index: -2;

  &__inner {
    // padding: 0 10%;
    // height: 70vh;
    width: 60%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 7px;
  }

  &__active {
    margin-top: -100vh;
  }

  &__restart {
    display: inline-block;
  }

  &__back {
    display: inline-block;
    margin-right: 100px;

    path {
      fill: #468;
    }

    // float: left;
  }
}

.card {
  border-radius: 5px;
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.3s;
}
.card .front,
.card .back {
  position: absolute;
  width: 100px;
  height: 100px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.card .front img {
  display: flex;
  max-width: 100%;
  height: 90%;
}
.card .back {
  background-color: #468;
  transform: rotateY(180deg);
}
.card-outer.flipped .card {
  transform: rotateY(0);
  background-color: #fff;
}

.window {
  width: 50%;
  min-height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  transform: translate(-50%, -50%);
  display: none;

  &-visable {
    display: block;
    background-color: #468;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    display: block;

    &-hidden {
      display: none;
    }
  }

  &__leaderboard {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
  }

  p {
    font-size: 20px;
  }

  &-button {
    background-color: rgb(27, 82, 155);
    padding: 5px 20px;
    width: 220px;
    margin: 0 auto;
    font-size: 24px;
    border-radius: 5px;
    color: #fff;
    border: none;
    transition: 0.1s all;
    margin-bottom: 20px;

    &:hover {
      transition: 0.1s all;
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1000px) {
  .board {
    &__inner {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

@media screen and (max-width: 800px) {
  .board {
    &__inner {
      width: 50%;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 600px) {
  .board {
    &__inner {
      width: 50%;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .card {
    width: 80px;
    height: 80px;
  }
  .card .front,
  .card .back {
    width: 80px;
    height: 80px;
  }
  .card .front img {
    display: flex;
    max-width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 470px) {
  .board {
    &__inner {
      width: 50%;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .card {
    width: 60px;
    height: 60px;
  }
  .card .front,
  .card .back {
    width: 60px;
    height: 60px;
  }
  .card .front img {
    display: flex;
    max-width: 100%;
    height: 50%;
  }
}
