.stats {
  width: 100%;
  margin: 0 auto;
  padding: 20px 50px;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__restart {
    width: 200px;
  }
  svg {
    position: absolute;
    left: 150px;
    top: 60px;
  }
  p {
    // padding: 0;
    margin: 15px 10px;

    span {
      text-transform: uppercase;
      color: rgb(111, 169, 226);
    }
  }
  p + p {
    margin-left: 20px;
  }
  &__timer {
    min-width: 100px;
  }

  &-info {
    display: flex;
    margin-left: 20px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .stats {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .stats {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .stats {
    font-size: 1.2rem;
  }
}
