.login {
  width: 98vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;

  &-title {
    font-size: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    input {
      border-radius: 5px;
      font-size: 22px;
      padding: 5px 20px;
    }

    &-username {
      margin-bottom: 50px;
    }

    &-submit {
      width: 50%;
      margin: 0 auto;
      border: none;
      background-color: rgb(27, 82, 155);
      padding: 5px 20px;
      width: 200px;
      margin: 0 auto;
      font-size: 24px;
      border-radius: 5px;
      color: antiquewhite;
    }
  }

  &__leaderBoard {
    margin-top: 50px;
  }
}

@media screen and (max-width: 420px) {
}
